{% extends "base.html" %} 
{% load static %}

{% block content %}

    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>About Us</h1>
                        <p class="mb-4">We are an online store dedicated to providing high-quality stationery for all your needs, from school to professional work. We are committed to offering the best products and service.</p>
                        <p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hh">
                        {% comment %} <img src="{% static 'images/about_us_stationary.png' %}" class="img-fluid"> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}