{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>User Profile</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                </div>
            </div>
        </div>
    </div>
    <div class="untree_co-section">
        <div class="container">
            <div class="block">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-8 pb-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="text-black">Username</label>
                                <input type="text" class="form-control" name="{{ user_form.username.name }}" value="{{ user_form.username.value|default_if_none:'' }}">
                                {% if user_form.username.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ user_form.username.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="text-black">Email</label>
                                <input type="email" class="form-control" name="{{ user_form.email.name }}" value="{{ user_form.email.value|default_if_none:'' }}">
                                {% if user_form.email.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ user_form.email.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="text-black">Mobile Number</label>
                                <input type="text" class="form-control" name="{{ profile_form.mobile_number.name }}" value="{{ profile_form.mobile_number.value|default_if_none:'' }}">
                                {% if profile_form.mobile_number.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ profile_form.mobile_number.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-4">
                                <label class="text-black">Address</label>
                                <textarea class="form-control" name="{{ profile_form.address.name }}" rows="5">{{ profile_form.address.value|default_if_none:'' }}</textarea>
                                {% if profile_form.address.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ profile_form.address.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary-hover-outline">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}