{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .img-wrap {
        height: 250px; 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
</style>
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Shop</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row mb-4">
        <div class="col-md-4">
          <h2>Filter by Category</h2>
          <div class="mb-4">
            <label for="category-filter" class="form-label">Select a Category:</label>
            <select class="form-select" id="category-filter" onchange="window.      location.href=this. value;">
              <option value="{% url 'shop' %}" {% if not selected_category %}selected{% endif %}>All</option>
              {% for category in categories %}
              <option value="{% url 'shop_by_category' category_pk=category.pk %}" 
                {% if selected_category == category.name %}selected{% endif %}>
                {{ category.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{ product_count }}</b> Items found </span>
			
		</div>
</header>
    </div>
    
    <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <figure class="card card-product-grid">
            <a href="{% url 'product_details' pk=product.pk %}" class="product-item">
                <div class="img-wrap">
                    <img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
                </div>
            </a> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <h4 class="product-company">Company: {{ product.company }}</h4>
                    <h4 class="product-price">{{ product.price }}</h4>
                    
                    <form action="{% url 'add_cart' product.id %}" method="post">
                      <a href="{% url 'product_details' pk=product.pk %}" class="btn btn-block btn-secondary">
                        View Details
                    </a>
                      {% csrf_token %}
                      <button type="submit" class="btn btn-block btn-primary">Add to Cart</button>
                    </form>
                </div>
            </figcaption>
      </figure>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h2 class="alert-heading">No Products Found </h2>
        </div>
      </div>
      {% endfor %}
    </div>
        <nav class="mt-4" aria-label="Page navigation sample">
	  {% if products.has_other_pages %}
    <ul class="pagination justify-content-center">
		{% if products.has_previous %}
    <li class="page-item  "><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
		{% else %}
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		{% endif %}

		{% for i in products.paginator.page_range %}
			{% if products.number == i %}
    		<li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
			{% else %}
				<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
			{% endif %}
    {% endfor %}

		{% if products.has_next %}
    	<li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
		{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{% endif %}
    </ul>
	  {% endif %}
    </nav>
  </div>

  
</div>
{% endblock %}