{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Shop</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>Filter by Category</h2>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="{% url 'shop' %}" class="btn {% if not selected_category %}btn-primary{% else %}btn-outline-primary{% endif %}">All</a>
                </li>
                {% for category in categories %}
                <li class="list-inline-item">
                    <a href="{% url 'shop_by_category' category_name=category.name %}" class="btn {% if selected_category == category.name %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="{% url 'product_details' pk=product.pk %}">
          <img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
          <h3 class="product-title">{{ product.name }}</h3>
          <strong class="product-price">${{ product.price }}</strong>
          <span class="icon-cross">
            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
          </span>
        </a>
      </div>
      {% empty %}
      <div class="col-12">
          <p>No products available yet.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}