{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Shop</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row mb-4">
        <div class="col-md-4">
          <h2>Filter by Category</h2>
          <div class="mb-4">
            <label for="category-filter" class="form-label">Select a Category:</label>
            <select class="form-select" id="category-filter" onchange="window.      location.href=this.value;">
              <option value="{% url 'shop' %}" {% if not selected_category %}selected{% endif %}>All</option>
              {% for category in categories %}
              <option value="{% url 'shop_by_category' category_name=category.name %}" {% if selected_category == category.name %}selected{% endif %}>{{ category.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="{% url 'product_details' pk=product.pk %}">
          <img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
          <h3 class="product-title">{{ product.name }}</h3>
          <h3 class="product-title">Company : {{ product.company }}</h3>
          <strong class="product-price">{{ product.price }}</strong>
          <span class="icon-cross">
            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
          </span>
        </a>
      </div>
      {% empty %}
      <div class="col-12">
          <p>No products available yet.</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}