{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Thank You!</h1>
                </div>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</div>

<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Your order has been placed successfully!</h2>
                {% if order %}
                    <p>Order ID: <strong>{{ order.id }}</strong></p>
                    <p>Name: <strong>{{ order.full_name }}</strong></p>
                    <p>Payment Method: <strong>{{ order.payment_method }}</strong></p>
                    {% if order.payment_id %}
                        <p>Payment ID: <strong>{{ order.payment_id }}</strong></p>
                    {% endif %}
                    <p>Total Amount: <strong>₹{{ order.total_amount }}</strong></p>
                    
                    
                {% endif %}
                <p class="mt-6">
                    <a href="{% url 'customer_invoice' order.id %}" class="btn btn-primary">View Invoice</a>
                     
                    <a href="{% url 'shop' %}" class="btn btn-secondary">Continue Shopping</a>
                    
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}